/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Universal Reset */
* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply font globally */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/eagle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
